﻿@{
	ViewData["Title"] = "Home Page";
}
@section Styles{
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.min.css">
	<link href="~/plugins/json-view/css/jsonview.bundle.css" rel="stylesheet" asp-append-version="true" />
}

<div class="text-center">
	<h1 class="display-4">Consulta SUNAT (Razón Social)</h1>
</div>
<div class="container">
	<div class="row mb-4">
		<div class="col-md-4">
			<input id="txtBusqueda" type="text" class="form-control" placeholder="Ingresar un texto" />
		</div>
		<div class="col">
			<button id="btnConsultar" class="btn btn-primary">Consultar</button>
		</div>
	</div>
	<div id="rowAlert" class="row"></div>
	<div id="rowResultado" class="row"></div>
	@*<div class="row">
			<div class="col">
				<a href="#" class="btn btn-outline-primary btnConsultarRUC" data-ruc="10101012122">Consultar</a>
			</div>
		</div>*@
</div>

<div id="modalConsultaRUC" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 id="h5MCR" class="modal-title"></h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col">
							<div id="DivResult"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
			</div>
		</div>
	</div>
</div>

@section Scripts{
	<script src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@@2.1.7/dist/loadingoverlay.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.6/dist/sweetalert2.all.min.js"></script>
	<script src="~/plugins/json-view/js/jsonview.bundle.js" asp-append-version="true"></script>

	<script>
		const UISleep = m => new Promise(r => setTimeout(r, m));
		//document.addEventListener("DOMContentLoaded", async function (event) {
		//	await UI.XMLHttp.invokeMethodAsync('/api/sunat/ConsultarRazonSocial', {filtro:'01'}).then(function (r) {
		//		console.log(r);
		//	});
		//});
		$(document).ready(async function () {
			$('#btnConsultar').on('click', async function () {
				var jsonParam = {
					filtro: document.getElementById('txtBusqueda').value,
				};
				await UILoadingOverlay("show");
				await UI.XMLHttp.invokeMethodAsync('/api/sunat/ConsultarRazonSocial', jsonParam).then(function (r) {
					var container = document.getElementById('rowResultado');
					var AHtml = [];
					if (r.success) {
						document.getElementById('rowAlert').innerHTML = '';
						if (r.data.length == 30) {
							document.getElementById('rowAlert').innerHTML =
								`<div class="col">` +
								`<div class="alert alert-warning alert-dismissible fade show" role="alert">` +
								`Se encontraron <strong>más de 30 registros</strong>, refine la búsqueda.` +
								`<button type="button" class="close" data-dismiss="alert" aria-label="Close">` +
								`<span aria-hidden="true">&times;</span>` +
								`</button>` +
								`</div>`;
							`</div>`;
						}
						for (var i = 0; i < r.data.length; i++) {
							var objTemp = r.data[i];
							AHtml.push(`<div class="col-lg-4 my-2">`);
							AHtml.push(`<div class="card h-100">`);
							AHtml.push(`<h5 class="card-header">RUC: ${objTemp.ruc}</h5>`);
							AHtml.push(`<div class="card-body">`);
							AHtml.push(`<h5 class="card-title `);
							if (objTemp.estado.includes("ACTIVO")) {
								AHtml.push(`text-success"`);
							}
							else if (objTemp.estado.includes("BAJA DE OFICIO")) {
								AHtml.push(`text-danger"`);
							}
							else if (objTemp.estado.includes("SUSPENSION TEMPORAL")) {
								AHtml.push(`text-warning"`);
							}
							else {
								AHtml.push(`text-info"`);
							}
							AHtml.push(`>${objTemp.estado}</h5>`);
							AHtml.push(`<p class="card-text">${objTemp.razon_social}</p>`);
							AHtml.push(`<p class="card-text">${objTemp.ubicacion}</p>`);
							AHtml.push(`<a href="#" class="btn btn-outline-primary btnConsultarRUC" data-ruc="${objTemp.ruc}">Consultar</a>`);
							AHtml.push(`</div>`);
							AHtml.push(`</div>`);
							AHtml.push(`</div>`);
						}
					}
					else {
						Swal.fire('Ups!', r.mensaje, 'warning');
					}
					container.innerHTML = AHtml.join('');
				});
				UILoadingOverlay("hide");
			});
			$('body').on('click', 'a.btnConsultarRUC', async function () {
				await UILoadingOverlay("show");
				await UI.XMLHttp.invokeMethodAsync('/api/sunat/ConsultarRUC', { RUC: this.getAttribute('data-ruc') }).then(function (r) {
					var options = {
						nameTree: `${r.razon_social} (${r.ruc})`,
						prepend: true,
					};
					var tree = JsonView.renderJSON(r, document.getElementById('DivResult'), options);
					$('#DivResult .json-container .line:first-child .caret-icon').trigger('click');
					$('#modalConsultaRUC').modal('show');
				});
				UILoadingOverlay("hide");
			});
		});
		var UILoadingOverlay = async function (accion) {
			if (accion == "show") {
				await $.LoadingOverlay('show', {
					text: "Por favor espere...",
					textClass: "text-white us-n",
					background: "rgba(0, 0, 0, 0.5)",
				});
				await UISleep(200);
			}
			else if (accion = "hide") {
				await $.LoadingOverlay('hide');
				await UISleep(200);
			}
		}
	</script>
}